.main {
    margin-top: 20px;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    .headertab {
        flex-direction: column;
    }

    .headertab li {
        width: 100%;
        text-align: center;
    }
}

.tabicon{
    height: 22px;
}
.navicon{
    height: 22px;
}

.bankinexicon{
    height: 22px;
    font-size: 15px;
}
.bankinexbox{
    padding-top: 10px;
    height: 22px;
    font-size: 15px;
}

.dasbbox {
    margin: 10px;
    border-radius: 20px;
    border: 3px solid rgba(54, 71, 79, 0.20);
    background: var(--App-icon-colors, #EAA813);
    box-shadow: 0px 1px 50px 0px rgba(54, 71, 79, 0.25);
    height: 145px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.custom-table-header4 {
    text-align: right;
}



th {
    background-color: #F6F6F6 !important;
    color: #262626 !important;
    outline-color: #F6F6F6 !important;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    border-bottom: #F6F6F6;
}


.dashtitle {
    color: var(--bold-black-color, #262626);
    text-align: center;
    text-shadow: 0px 0px 4px rgba(54, 71, 79, 0.25);

    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    padding: 5px;
}

.dashboximg {
    padding: 40px;
    height: 125px;
    width: 125px;
    

}

.header-card {

    background-color: WHITE;

}

.leftcard {
    min-height: 500px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.card-circle {
    width: 100px;
    /* Set your desired width */
    height: 100px;
    /* Set your desired height */
    border-radius: 50%;
    /* Make the image circular */
    background-color: #D9D9D9;
    padding: 20px;
}

.carddashboximg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;

}

.list-li {
    color: var(--light-black, #393939);
    margin-left: 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    cursor: pointer;
    margin-bottom: 20px;
}

.listp {
    padding-left: 10px;
}

.mainc {
    background: #F6F6F6;
    color: var(--bold-black-color, #262626);
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
}

.maind {
    padding: 20px 10px 10px 20px;

    background: #F6F6F6;
    color: var(--bold-black-color, #262626);
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
}

.balinfo {
    padding: 28px 42px 27px 30px;
    font-weight: 500;
    line-height: 140%;
    font-size: 15px;
}


.balinf2 {
    padding: 1px 42px 27px 30px;
    font-weight: 500;
    line-height: 140%;
    font-size: 15px;
}

.green {
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    color: #028374;
}

.green2 {
    font-style: normal;
    line-height: 140%;
    color: #028374;
}

.red {
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    color: #D31400;
}

.card {
    border-radius: 20px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.25);
    outline: 0.2px solid rgba(0, 0, 0, 0.25);
}

.mainc {
    border-radius: 15px;
    outline-color: #D31400;
}

table tr {
    margin-bottom: 500px;
}

td.debit {
    color: #D31400;
}

td.credit {
    color: #028374;
}

table tr .tr {
    margin: 10px;
}

.sendhead {
    padding: 10px 10px 10px 20px;
}

.sendtitle {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}

.sendsubtitle {
    color: var(--light-black, #393939);
    padding-top: 15px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.form-check {
    margin-top: 15px;
}

.custom-radio-input .form-check-input[type="radio"]:checked+.form-check-label::before {
    background-color: #EAA813;
    border-color: #36474F;
}

.btn.rgbutton,
.btn.rgbutton:hover {
    margin-bottom: 10px;
    background: var(--Button-color, #36474F);
    color: white;
    margin: 10px;
    padding: 10px 10px;
    min-width: 100px;

}

.paypaltitle {
    margin: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(2, 131, 116, 0.30);
    background: rgba(164, 206, 201, 0.50);
}


.shopinput {
    margin: 20px;
    margin-bottom: -10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.pbody {
    color: var(--light-black, #393939);
    padding: 10px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.maine {
    padding: 15px;

    background: #F6F6F6;
    color: var(--bold-black-color, #262626);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.ppay {
    margin: 15px;
}

.dashleft {
    margin: 30px 10px 10px 10px;
}

.leftnav {
    max-width: 350px;
    margin-top: 15px;
  }
  
/* Default width for larger screens */
.maindash {
    width: 72%;
  }
  
  /* Media query for medium-sized screens */
  @media (min-width: 768px) and (max-width: 991px) {
    .maindash {
      /* Adjust the width as needed for medium-sized screens */
    }
  }
  
  /* Media query for smaller screens */
  @media (max-width: 767px) {
    .maindash {
      width: 100%; /* Set the width to 100% on smaller screens */
    }
  }
  
  
  
  
.bilsds {
    border-radius: 10px;
    border: 1px solid rgba(57, 57, 57, 0.20);
    background: #F6F6F6;
    box-shadow: 0px 0px 3px 0px rgba(57, 57, 57, 0.25);
    min-width: 250px;
    max-width: 300px;
    height: 62px;
    flex-shrink: 0;
    margin-bottom: 30px;
}

.form-label2 {
    color: var(--light-black, #393939);

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    min-width: 300px;
}


.bilsform {
    border-radius: 10px;
    min-width: 250px;
    max-width: 300px;
    height: 62px;
    flex-shrink: 0;
    margin-bottom: 30px;
}
.icons{
    width: 22px;
}

.rowdbil {
    cursor: pointer;
    margin: 5px;
    padding-top: 15px;
    color: var(--bold-black-color, #262626);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%,

}

.bfd {
    background-color: var(--App-icon-colors, #EAA813);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

}

.centered {
    margin: 3px;
    justify-content: center;
    align-items: center;
}

.formbill {
    min-width: 300px;
    border-radius: 10px;
    border: 1px solid rgba(57, 57, 57, 0.20);
    background: #F6F6F6;
    box-shadow: 0px 0px 3px 0px rgba(57, 57, 57, 0.25);
}

.hdtitle {
    margin: 10px;
    font-size: 18px;
}

.pot {
    cursor: pointer;
}


.rowdm {
    display: flex;
    justify-content: center;
}


.biltrxsuccess {
    display: flex;
    width: 396px;
    padding: 73px 61px 33px 61px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 1px 4px 20px 0px rgba(39, 59, 74, 0.15);
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
}

.elem {
    color: #028374;
    margin-left: 5px;
    margin-right: 5px;
}

.sucname {
    margin: 30px;
    color: #028374;

    text-align: center;
    /* H5 Bold Semi Bold */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 32.2px */
}


.paydetails {
    width: 396px;
    border-radius: 10px;
    border: 1px solid rgba(54, 71, 79, 0.30);
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: var(--bold-black-color, #262626);
    margin-bottom: 30px;
}

.shophead {
    color: var(--bold-black-color, #262626);

    /* H4 Medium */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 39.2px */
}

.filtershop {

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.ttexx {
    color: var(--bold-black-color, #262626);
    padding-top: 15px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 26.6px */
}

.marketcardb {
    position: relative;
    border-radius: 10px 10px 0px 0px;
    background: #EBE1CE;
    min-height: 150px;
    justify-content: center;
    align-items: center;
}

.card-market {
    margin-top: 15px;
    min-width: 180px;
    outline-color: #FFF;
    border-color: #FFF;
    cursor: pointer;

}



.marketimg {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.marktfooter {
    border-radius: 0px 0px 10px 10px;
    background: #FFF;
    box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.15);
}

.dtext {
    color: var(--bold-black-color, #262626);


    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 32.2px */
}

.rate {
    color: #EAA813;
    font-size: 25px;
}

.cardamt {
    color: var(--bold-black-color, #262626);
    padding-top: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 22.4px */
}

.badge-market {
    background: var(--Button-color, #36474F);
    font-size: 9px;
    max-width: 70px;
}

.addnewb {
    color: #FFF;
    border-radius: 10px;
    background: var(--Button-color, #36474F);
}

.producticon {}



.pheader {
    padding: 100px;
}

.custom-table-header.pheader {
    padding-top: 25px;
    padding-bottom: 25px;
}

.custom-table-cell.pbodyd {
    padding-top: 25px;
    padding-bottom: 25px;
}

.btn.adnewb,
.btn.adnewb:hover {
    margin-bottom: 10px;
    background: var(--Button-color, #36474F);
    color: white;
}

.smattx {
    color: rgba(57, 57, 57, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

.saledate {
    color: var(--bold-black-color, #262626);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 32.2px */
    margin-top: 10px;
    padding-bottom: 15px;
}

.manuals {
    width: 20%;
    margin-top: 50px;
}

.card-categories {
    margin-bottom: 30px;
    min-height: 250px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.listcat {
    color: #000;
    margin: 5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    cursor: pointer;
}

.profile-container {
    position: relative;
    display: inline-block;
}

.upload-icon-container {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.upload-icon {
    border-radius: 50%;
}

.profileimg {
    border-radius: 50%;
    border: 3px solid #EAA813;
    min-width: 150px;
    min-height: 150px;
    display: block;
    /* Ensure the image is treated as a block element */
}

.profilename {
    padding-top: 10px;
    color: var(--light-black, #393939);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 56px */
}

.bagedverified {
    color: #028374;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 21px */
    border-radius: 10px;
    padding: 3px;
    background: rgba(2, 131, 116, 0.15);
}

.profile-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.dtexhead {
    padding: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 32.2px */
}

.smdl {
    font-size: 10px;

}

.mainnew {
    margin: 20px;
   
}

.editor {
    min-height: 200px;
}

.yellow {
    color: #EAA813;
}

.proudctuicon {
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.cartimg {
    margin-top: 30px;
    max-width: 70%;
    height: auto;
    padding-bottom: 10px;
}

.cartrod {
    border-radius: 10px;
    background: #DBDBDB;
    margin-bottom: 10px;
    padding: 20px;
}

.cartamt {
    border-radius: 100px;
    background: #EAA813;
    color: #FFF;
    padding: 3px;
}

.carttitle {
    margin-top: 20px;
    color: #262626;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 56px */
}


.cartamttext {
    margin-top: 20px;
    color: #262626;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 56px */
}

.cartsub {
    margin-top: 10px;
    width: 85%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 32.2px */
}

.cartbuttion {
    margin-left: 10px;
    margin-right: 10px;
    width: 10%;
    border-radius: 10px;
    border: 3px solid rgba(57, 57, 57, 0.50);
    background: #FFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.cartinput {
    width: 60px;
    max-height: 40px;
}

.check {
    border-radius: 10px;
    background: #3939394D;
    color: white;
    width: 100%;
}

.check2 {
    border-radius: 10px;
    color: white;
    background: var(--Button-color, #36474F);
    width: 100%;
}

.tmsa{
    color: var(--bold-black-color, #262626);

font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}
.df{
    background: white;
}
.titlepadding{
    padding-top: 5px;
    padding-bottom: 15px;
}
.cartbody{
    font-size: 15px;
}
.reviewimg{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border-color: #EAA813;
}

.review {
    display: flex;
    align-items: center; 
}

.reviewimg {
  
    max-width: 50px; 
    margin-right: 10px; 
}
.reviewicon{
    max-width: 12px;
}
.textsmall{
    font-size: 15px;
}

.sml {
    padding-top: -10px;
   font-size: 10px;
}
.smlnme {
    padding-top: -10px;
   font-size: 15px;
}

.smlmsg {
    padding-top: -10px;
   font-size: 13px;
}
.acti{
    max-width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.messageicon{
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    border-color: #EAA813;

    margin-right: 10px; 
}
.messages{
    display: flex;
    padding-bottom: 20px;
}
.btn-outline-secondary.chatbuttion{
    border-radius: 0px 10px 10px 0px;
background: var(--App-icon-colors, #EAA813);
}
.btn-outline-secondary.chatbuttion:active{
    color: white;
}

.generalbutton{
    border-radius: 0px 10px 10px 0px;
background: var(--App-icon-colors, #EAA813);
color: white;
}

.mtm{
    max-width: 150px;
}

.linerate{
    width: 10px;
height: 10px;
flex-shrink: 0;
}

.feedbacks{
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
}

.feedbacks:nth-child(2n){
    border-top: 2px solid rgba(57, 57, 57, 0.10);
    border-bottom: 2px solid rgba(57, 57, 57, 0.10);
    background: #F6F6F6;
}